target/
*.class
.DS_Store
paper.aux
paper.bbl
paper.blg
paper.log
texput.log
database.dat
exported.txt
exported.bib
nb-configuration.xml
testi.txt
database.dat
database.dat-journal
biblex/.classpath
biblex/.project
biblex/.settings/
